// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$body-bg: #ecf0f1;
$navbar-inverse-bg: #27ae60;
$navbar-inverse-link-color: white;
$brand-primary: #f39c12;
$jumbotron-bg: #bdc3c7;
@import 'bootstrap-sprockets';
@import 'bootstrap';